@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject AuthenticationStateProvider _authStateProvider
@inject CompileService _compileService
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @if (!_loggedIn)
            {
                <button class="btn btn-primary ml-md-auto" @onclick="Login">Log In</button>
            }
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private bool _loggedIn = false;
    private async void Login()
    {
        await (_authStateProvider as SplendidAuthStateProvider).Authorize();
        await _compileService.Init(true);
        _loggedIn = true;
        StateHasChanged();
    }
}